<style>
    .btn{
        cursor: pointer;
    }
    .alert{
        visibility: hidden;
    }
</style>
<div id="main-content" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" id="content-title">登入</h1>
</div>
<div>
    <div class="alert alert-danger" role="alert" id="alert"></div>
    <div class="form-group">
        <label for="exampleInputEmail1">用户名</label>
        <input name="name" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="btn btn-primary" id="submit">提交</div>
    <button class="btn btn-secondary" id="signup">注册</button>
</div>
<script>
    $("#submit").bind("click", function () {
        var form = new FormData($("#signInForm"))

        data = {
            "username": $("#username").val(),
            "password": $("#password").val()
        }

        $.ajax({
            url: "/signin",
            type: "POST",
            data: JSON.stringify(data),
            success: function (data) {
                if (data.res['status'] == 500) {
                    $("#alert").css("visibility", "visible")
                    $("#alert").html(data.res['msg'])
                } else {
                    window.location.href = '/'
                }
            }
        })
    })

    $("#signup").bind("click", function () {
        $("#main-content").empty()
        $("#main-content").load("/signup")
    })
</script>